.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}
img{
  width: 500px;
  height: 500px;
  }
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 50%;
}

.grid-item {
  padding: 20px;
  background-color: lightgray;

}

.center {
  display: flex;
  justify-content: center;
  height: 5vh;
}
